<!-- {% if site.comments.provider and page.comments %}
{% case site.comments.provider %}
  {% when "disqus" %}
    {% include /comments-providers/disqus.html %}
  {% when "discourse" %}
    {% include /comments-providers/discourse.html %}
  {% when "facebook" %}
    {% include /comments-providers/facebook.html %}
  {% when "staticman" %}
    {% include /comments-providers/staticman.html %}
  {% when "staticman_v2" %}
    {% include /comments-providers/staticman_v2.html %}
  {% when "utterances" %}
    {% include /comments-providers/utterances.html %}
  {% when "giscus" %}
    {% include /comments-providers/giscus.html %}
  {% when "custom" %}
    {% include /comments-providers/custom_scripts.html %}
{% endcase %}
{% endif %} -->


<script src="https://giscus.app/client.js"
        data-repo="Promesis/giscus"
        data-repo-id="R_kgDOKDYMtw"
        data-category="Announcements"
        data-category-id="DIC_kwDOKDYMt84CYWWy"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>